* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("niko-photos-tGTVxeOr_Rs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav ul {

    list-style-type: none;
    padding: 5px;
    font-size: 20px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

section::after {
    content:"";
    display: table;
    clear: both;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

@media (max-width:600px) {
    nav, article {
        width:100%;
        height: auto;
    }
}

.frontpage {
    background-color: tomato;
    width: 800px;
   
}

table {

    width: 100%;
}